.chars .box-chars {
  position: relative;
  height: 30rem;
}
.chars .box-chars img {
  max-height: 30rem;
}
.chars .box-chars a {
  position: absolute;
  filter: grayscale(1) blur(1px);
}

.chars .box-chars .bruxa {
  left: 30%;
  transform: translateX(-30%) scale(0.8);
  top: -5%;
  z-index: 48;
}
.chars .box-chars .guerreiro {
  left: 38%;
  transform: translateX(-38%);
  top: -10%;
  z-index: 49;
}
.chars .box-chars .aventureiro {
  left: 50%;
  transform: translateX(-50%);
  top: 0%;
  z-index: 50;
}
.chars .box-chars .jogador {
  left: 59%;
  transform: translateX(-58%) scale(0.95);
  top: -5%;
  z-index: 49;
}
.chars .box-chars .ninja {
  left: 74%;
  transform: translateX(-74%) scale(0.85);
  top: -8%;
  z-index: 48;
}
.chars .box-chars a:hover {
  filter: grayscale(0) blur(0);
  cursor: pointer;
}
.chars .box-chars.ativo {
  left: 50%;
  transform: scale(1.5) translateX(-50%);
  z-index: 52;
}
@media (max-width: 1200px) {
  .chars .box-chars .bruxa {
    left: 20%;
    transform: translateX(-20%) scale(0.8);
  }
  .chars .box-chars .guerreiro {
    left: 34%;
    transform: translateX(-34%);
  }
  .chars .box-chars .jogador {
    left: 62%;
    transform: translateX(-62%) scale(0.95);
  }
  .chars .box-chars .ninja {
    left: 80%;
    transform: translateX(-80%) scale(0.85);
  }
}
@media (max-width: 768px) {
  .chars .box-chars a {
    position: absolute;
    filter: grayscale(0) blur(0);
  }
  .chars .box-chars .bruxa:hover,
  .chars .box-chars .ninja:hover {
    z-index: 48;
  }
  .chars .box-chars .guerreiro:hover,
  .chars .box-chars .jogador:hover {
    z-index: 49;
  }
  .chars .box-chars .aventureiro:hover {
    z-index: 50;
  }
  .chars .box-chars .bruxa {
    left: 0%;
    transform: translateX(0%) scale(0.8);
  }
  .chars .box-chars .guerreiro {
    left: 25%;
    transform: translateX(-25%);
  }
  .chars .box-chars .jogador {
    left: 65%;
    transform: translateX(-65%) scale(0.95);
  }
  .chars .box-chars .ninja {
    left: 100%;
    transform: translateX(-100%) scale(0.85);
  }
}
@media (max-width: 576px) {
  .chars .box-chars img {
    max-height: 16rem;
  }
}
