.faq {
  padding: 4rem 0;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: clip;
  background: url('../img/bg-grama.svg');
  background-size: 100% auto;
  background-repeat: repeat-y;
  z-index: 3;
  background-color: #95d100;
  margin-top: -0.3rem;
}
.faq img.bomba {
  position: absolute;
  right: -18rem;
  top: 5rem;
  width: 40rem;
  transform: rotatey(180deg);
}
.faq img.bomba-2 {
  position: absolute;
  left: -15rem;
  bottom: 6rem;
  width: 40rem;
  transform: rotatey(180deg) rotate(-35deg);
}
.faq .accordion {
  background-color: var(--preto-transparente);
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.faq .accordion .question {
  display: grid;
  grid-template-columns: 1fr 3rem;
  align-items: center;
  gap: 1rem;
  color: var(--branco);
  font-family: var(--font-got);
  font-size: 2.5rem;
}
.faq .accordion .question p {
  margin-bottom: 0;
}
.faq .accordion .question img {
  height: 3rem;
  width: 3rem;
  max-width: 100%;
  transition: 0.3s all ease-in-out;
  transform: rotate(0deg);
  animation: faqSubindo 1s ease-in-out infinite;
}
@keyframes faqSubindo {
  0%{
    transform: rotate(180deg) translateY(-0rem);
  }
  30%{
    transform: rotate(180deg) translateY(-0.5rem);
  }
  60%{
    transform: rotate(180deg) translateY(-0.5rem);
  }
  100%{
    transform: rotate(180deg) translateY(0rem);
  }
}
.faq .accordion.open .question img {
  transform: rotate(0deg);
  animation: faqDescendo 1s ease-in-out infinite;
}
@keyframes faqDescendo {
  0%{
    transform: rotate(0deg) translateY(-0rem);
  }
  30%{
    transform: rotate(0deg) translateY(-0.5rem);
  }
  60%{
    transform: rotate(0deg) translateY(-0.5rem);
  }
  100%{
    transform: rotate(0deg) translateY(0rem);
  }
}
.faq .accordion .question:hover {
  cursor: pointer;
}
.faq .accordion .answer .content {
  padding: 2rem 1rem 0rem 1rem;
}
.faq .accordion .answer p {
  line-height: 1.2;
  font-family: var(--font-got);
  font-size: 1.5rem;
  color: var(--branco);
}
.faq .accordion .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.faq .accordion .answer.open {
  max-height: 800px;
}
@media (max-width: 576px) {
  .faq .accordion .question {
    font-size: 2rem;
  }
}
