@import url('./header.css');
@import url('./hero.css');
@import url('./gameplay.css');
@import url('./chars.css');
@import url('./faq.css');
@import url('./footer.css');

@import url('./login.css');
body {
  background-color: var(--verde);
}
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
}
button:hover {
  cursor: pointer;
}
@font-face {
  font-family: 'boldvan';
  src: url('../fonts/BoldenVan.ttf');
}
@font-face {
  font-family: 'gothic';
  src: url('../fonts/franklin-gothic-demi.ttf');
}
/*end reset*/
:root {
  scroll-behavior: smooth;
  font-size: 62.5%;
  --font-van: 'boldvan';
  --font-got: 'gothic';

  --amarelo: #fadf07;
  --verde: #90bf21;
  --verde-escuro: #72b32c;
  --preto: #000000;
  --branco: #ffffff;

  --preto-transparente: rgba(0, 0, 0, 0.1);
}
.container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}
.btn {
  font-family: var(--font-van);
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--amarelo);

  background-image: url('../img/btn.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  padding: 1rem 3rem;

  -webkit-text-stroke: 0.1rem var(--preto);
  text-stroke: 0.1rem var(--preto);
}
.btn-link {
  color: var(--branco);
  font-family: var(--font-got);
  font-size: 1.3rem;
}
.btn:hover,
.btn-link:hover {
  filter: brightness(0.95);
  transform: scale(0.97);
  cursor: pointer;
}
.btn:active {
  filter: brightness(0.9);
  transform: scale(0.9);
}

.texto-sombreado {
  color: var(--branco);
  font-family: var(--font-van);
  text-transform: uppercase;
  text-shadow: 0.4rem 0.4rem 0rem var(--preto);
}
.titulo-sessao {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 5rem;
}
.section-bg-video {
  position: relative;
}
.bg_video {
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: fill;
  position: absolute;
}

.logo-topo img {
  z-index: 10;
  margin-top: -5rem;
  width: 30rem;
  height: auto;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .logo-topo img {
    margin-top: 0rem;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .logo-topo img {
    width: 22rem;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 400px;
    padding: 0 1rem;
  }
  .titulo-sessao {
    font-size: 3.5rem;
  }
}

/*
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 400px) {
} 
*/
