.gameplay {
  background: url(../img/nuvem-1.svg), url(../img/nuvem-1.svg), url(../img/nuvem-2.svg),
    url(../img/nuvem-2.svg), linear-gradient(180deg, #484aff 30%, #79d4f1 70%);
  background-repeat: no-repeat;
  background-size: 23%, 20%, 14%, 15%, 100% 100%;
  background-position: 100% 14%, 20% 93%, 6% 12%, 95% 78%, 0% 0%;
  padding: 8rem 0;
  animation: teste 7s ease-in-out infinite;
  position: relative;
  z-index: 3;
  margin-bottom: -0.3rem;
}
@keyframes teste {
  0% {
    background-position: 100% 14%, 20% 93%, 6% 12%, 95% 78%, 0% 0%;
  }
  50% {
    background-position: 110% 14%, 12% 93%, 12% 12%, 83% 78%, 0% 0%;
  }
  100% {
    background-position: 100% 14%, 20% 93%, 6% 12%, 95% 78%, 0% 0%;
  }
}
.gameplay .conteudo {
  width: 80rem;
  margin: 0 auto;
}

.gameplay .swiper-gameplay {
  display: grid;
  grid-template-columns: 7rem calc(100% - 14rem) 7rem;
  align-items: center;
}
.gameplay .swiper-gameplay .swiper {
  width: 100%;
}
.gameplay .swiper-gameplay .swiper-conteudo {
  border-radius: 3rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2rem solid var(--preto-transparente);
}
.gameplay .swiper-gameplay .button-prev img {
  transform: rotate(180deg);
  animation: buttonPrev 1s ease-in-out infinite;
}
.gameplay .swiper-gameplay .button-next img {
  animation: buttonNext 1s ease-in-out infinite;
}
@keyframes buttonPrev {
  0%{
    transform: rotate(180deg) translateX(-0rem);
  }
  30%{
    transform: rotate(180deg) translateX(0.5rem);
  }
  60%{
    transform: rotate(180deg) translateX(0.5rem);
  }
  100%{
    transform: rotate(180deg) translateX(0rem);
  }
}
@keyframes buttonNext {
  0%{
    transform: rotate(0deg) translateX(-0rem);
  }
  30%{
    transform: rotate(0deg) translateX(0.5rem);
  }
  60%{
    transform: rotate(0deg) translateX(0.5rem);
  }
  100%{
    transform: rotate(0deg) translateX(0rem);
  }
}
.gameplay .swiper-gameplay .button-next img,
.gameplay .swiper-gameplay .button-prev img {
  width: 6rem;
  margin: 0.5rem;
}
.gameplay .swiper-gameplay .button-next:hover,
.gameplay .swiper-gameplay .button-prev:hover {
  cursor: pointer;
}
.gameplay .swiper-gameplay .swiper-slide img,
.gameplay .swiper-gameplay .swiper-slide video {
  max-width: 100%;
}
@media (max-width: 1200px) {
  .gameplay .conteudo {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .gameplay {
    background-size: 38%, 35%, 29%, 30%, 100% 100%;
  }
  .gameplay .swiper-gameplay {
    grid-template-columns: 4rem calc(100% - 8rem) 4rem;
  }
  .gameplay .swiper-gameplay .button-next img,
  .gameplay .swiper-gameplay .button-prev img {
    width: 3rem;
  }
}
