.hero .conteudo {
  padding-bottom: 20rem;
  width: 60rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.hero .texto-sombreado {
  font-size: 5rem;
  text-align: center;
}
.hero .social ul {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}
.hero .social img {
  width: 4rem;
  height: 4rem;
}
.hero .btn-play {
  font-size: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
@media (max-width: 992px) {
  .hero .conteudo {
    padding: 5rem 0;
  }
}
@media (max-width: 768px) {
  .hero {
    padding-bottom: 20rem;
  }
  .hero .conteudo {
    width: 100%;
  }
  .hero .texto-sombreado {
    font-size: 4rem;
  }
}
